@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	html {
		background: white;
		color-scheme: light;
	}

	html.dark {
		background: var(--color-gray-950);
		color-scheme: dark;
	}
}
